# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Django
db.sqlite3
media/
staticfiles/
*.log

# Git
.git
.gitignore

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
